@font-face {
    src: url("../Marques Stamp.ttf") format('truetype');
    /* src: url(/Website/fonts/Marques\ Stamp.ttf); */
    font-family: marquesItalic;
}

html,
body {
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #013328;
    margin: 0;
    height: 100%;
    color: white;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: marquesItalic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}

nav .mainMenu li a:hover {
    background: darkslategray;
}

nav .openMenu {
    font-size: 2rem;
    margin: 13px;
    height: 45px;
    width: 70px;
    display: none;
    cursor: pointer;
    content:url(../img/burgerMenu.png);
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook:hover {
    color: rgb(0, 110, 255);
}

.fa-twitter:hover {
    color: rgb(86, 154, 243);
}

.fa-instagram:hover {
    color: rgb(255, 0, 191);
}

.fa-youtube:hover {
    color: red;
}

nav .logo {
    padding: 15px;
    font-size: 1.5rem;
    text-decoration: none;
}

@media(max-width: 800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #013328;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.9rem;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }

    nav .logo {
        padding: 22px;
        font-size: 1.9rem;
        text-decoration: none;
    }

    nav .mainMenu li a {
        font-size: 1.8rem;
    }

}

#performance {
    width: 90%;
}

#indeximg {
    display: flex;
    justify-content: center;
}

#indextext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 25px;
    font-size: 120%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}


input[type=text],
select,
textarea {
    width: 89%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin: 6px 20px 16px 20px;
}

input[type=email],
select,
textarea {
    width: 89%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin: 6px 20px 16px 20px;
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 16px;
    margin: 6px 20px 16px 20px;
    -webkit-appearance: none;
}

label {
    margin: 6px 20px 16px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    text-align: center;
    margin-bottom: 50px;
}

#about {
    width: 50%;
    /* border: 1px solid black; */
    overflow: hidden;
    margin-top: 5%;
}

.aboutImg {
    width: 200px;
    float: left;
    /* border: 1px solid red; */
}

.aboutText {
    /* border: 1px solid green; */
    float: left;
}

#aboutImg {
    width: 100%;
}

.footer{
    position: fixed;
    bottom: 0;
    width:100%;
    height:20px;
    text-align: center;
    margin-bottom: 7px;
}

a{
    color: white;
}

.datenschutz{
    margin: 0 20% 2% 20%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1{
       font-size: 2.3rem; 
    }
    
    #indextext {
        font-size: 1.1rem;
    }
    
    #about {
        width: 85%;
        margin-top: 5%;
    }

    .aboutImg {
        width: 100%;
        float: left;
    }
    
    .aboutText {
        float: left;
        margin-bottom: 50px;
        font-size: 1.1rem;
    }

    #contact {
        font-size: 1.1rem;
        margin: 6px 20px 16px 20px;
    }

    #performance {
        width: 90%;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1{
        font-size: 2.3rem; 
     }
    
    #indextext {
        font-size: 1.2rem;
    }
    
    #about {
        width: 60%;
        margin-top: 5%;
    }

    .aboutImg {
        width: 100%;
        float: left;
    }
    
    .aboutText {
        float: left;
        margin-bottom: 50px;
        font-size: 1.2rem;
    }

    #contact {
        font-size: 1.2rem;
        width: 500px;
        margin: 0 auto 40px auto;
    }

    #performance {
        width: 70%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {   
    h1{
        font-size: 2.3rem; 
     }
    
    #indextext {
        font-size: 1.1rem;
    }
    
    #about {
        width: 85%;
        margin-top: 5%;
    }

    .aboutImg {
        width: 250px;
        float: left;
    }
    
    .aboutText {
        overflow: hidden; 
        float: none;
        padding: 10px;
        font-size: 1.1rem;
    }

    #indextext {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 25px;
    }

    #performance {
        width: 60%;
    }

    #contact {
        font-size: 1.1rem;
        width: 500px;
        margin: 0 auto 40px auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1{
        font-size: 2.3rem; 
     }
    
    #indextext {
        font-size: 1.1rem;
    }
    
    #about {
        width: 70%;
        margin-top: 5%;
    }

    .aboutImg {
        width: 250px;
        float: left;
    }
    
    .aboutText {
        overflow: hidden; 
        float: none;
        padding: 10px;
        font-size: 1.1rem;
    }

    #indextext {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 25%;
    }

    #performance {
        width: 50%;
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        margin: 6px 0 16px 0px;
    }

    input[type=email],
    select,
    textarea {
        width: 100%;
        margin: 6px 0 16px 0px;
    }

    input[type=submit] {
        margin: 6px 0px 16px 0px;
    }

    label {
        margin: 6px 0px 16px 0px;
    }

    #contact {
        font-size: 1.1rem;
        width: 500px;
        margin: 0 auto 40px auto;
    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1{
        font-size: 2.5rem; 
     }
    
    #indextext {
        font-size: 1.2rem;
    }
    
    #about {
        width: 60%;
        margin-top: 5%;
    }

    .aboutImg {
        width: 300px;
        float: left;
    }
    
    .aboutText {
        overflow: hidden; 
        float: none;
        padding: 15px 0 10px 50px;
        font-size: 1.2rem;
    }

    #indextext {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 25%;
    }

    #performance {
        width: 30%;
    }

    #contact {
        font-size: 1.2rem;
        width: 500px;
        margin: 0 auto 40px auto;
    }
}
